<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% for profile in data_img %} 
    
<div class="card" style="width: 18rem;">
    <img src="{{ profile.disease_image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> {{ profile.disease_name }}  </h5>
      <p class="card-text"> {{ profile.age }}  </p>
      <p class="card-text"> {{ profile.location }}  </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  {% endfor %} 