<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="file-field input-field left">
            <div class="btn black-text waves-effect waves-dark" style="background-color: #F5DF73">
                <div>Upload</div>
                <!-- <input type="file" name = "input_image" > -->
                <input name = "img" type="file" >
           
            </div>
           
        </div>
        <input type="submit">
    </form>
    <img src="{{ uri }}" class="card-img-top" alt="...">
</body>
</html>